@import "./_reset";
.iconMore{
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* Internet Explorer */
    -moz-transform:rotate(90deg); /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrosme */
    -o-transform:rotate(90deg); /* Opera */
}